%rebase('osnova.html', naslov='Komitenti banke')

<p>Dodajanje novega zaposlenega</p>

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end
<!-- ime = "",priimek = '',mesto = '',naslov = '',trr = '', uporabnisko_ime ='', geslo ='', placa = '', st_ur = '', vloga = '', oddelek ='' -->

<form action="{{url('/dodaj_zaposlenega')}}" method="POST">
    <p>Ime: <input name="Ime" type="text" value="{{ime}}" required></p>
    <p>Priimek: <input name="Priimek" type="text" value="{{priimek}}" required></p>
    <p>Mesto: <input name="Mesto" type="text" value="{{mesto}}" required></p>
    <p>TRR: <input name="TRR" type="text" value="{{trr}}" required></p>
    <p>Uporabnisko ime:<input name="Uporabniško ime" type="text" value="{{uporabnisko_ime}}" required></p>
    <p>Geslo:<input name="Geslo" type="text" value="{{geslo}}" required></p>
    <p>Placa:<input name="Plača" type="number" value="{{placa}}" required></p>
    <p>Stevilo ur:<input name="Število ur" type="number" value="{{st_ur}}" required></p>
    <p>
        <label for="vloga">Vloga: </label>
        <select id="vloga" name="vloga">
            <option value=1> 1 </option>
            <option value=2> 2 </option>
            <option value=3> 3 </option>
        </select> 
    </p>
    <p>
        <label for="oddelek">Oddelek: </label>
        <select id="oddelek" name="oddelek">
            <option value=6> 6 </option>
            <option value=7> 7 </option>
            <option value=8> 8 </option>
        </select> 
    </p>



    <p><input type="submit" value="Dodaj"></p>

</form>

