%rebase('osnova.html', naslov='shoping')
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<style>
css
.table-container {
  display: flex;
}

.table-left, .table-right {
  flex: 1;
}

   #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #149dbc;
  color: white;
}
 </style>
 <div class="table-container">
   <div class ="table-left">
<table cellpadding="0" cellspacing="0" border="1" id="customers" >
   <a button type="button" class="btn btn-outline-info" href="{{url('index')}}" class="myButton" >Nazaj </a>
   <tr>
        <th>Prodajna cena produkta</th>
        <th>Ime produkta</th>
        
     </tr>
     %for (prodajna_cena,ime_produkt) in produkti_nova:
     <tr>
        <td>{{prodajna_cena}}</td>
        <td>{{ime_produkt}}</td>
        <td class="myButton">
         <form action="{{url('dodaj_v_kosarico')}}" method="POST">
            <input type="hidden" value="{{prodajna_cena}}" name="prodajna_cena">
            <input type="hidden" value="{{ime_produkt}}" name="ime_produkt">
            <input type="number" min="1" value="1" name="kolicina">
         % if prijavljen:
            <button type="submit">Dodaj v košarico</button>
         % end
          </form>
         </td>
     </tr>

   %end
</table>
</div>
<div class=" "table-right>
<table cellpadding="0" cellspacing="0" border="1" id="customers" class="table-right">
   <tr>
      <th>Ime produkta</th>
      <th>Prodajna cena produkta</th>
      
   </tr>
   %sum = 0
   %for ime_prod, value in kosarica.items():
     <tr>
      <td>{{ime_prod}}</td>
      <td>{{value[0]}}</td>
      <td>{{value[1]}}</td>
      <td class="myButton">
         <form action="{{url('odstrani_iz_kosarice')}}" method="POST">
            <input type="hidden" value="{{ime_prod}}" name="ime_prod">
            <button type="submit">Odstrani iz košarice</button>
          </form>
         </td>
     </tr>
     %sum = sum+int(value[0])*int(value[1])
   %end
   <tr>
      <td>Vsota:</td>
      <td>{{sum}}</td>
   % if prijavljen:
      <a button type="button" class="btn btn-outline-info" href="{{url('zakljuci_nakup')}}" class="myButton" >Zaključi nakup</a>

   % else:
      Za nakup se je treba prijaviti
   % end
   </tr>
   <tr>
      <td></td>
   </tr>
</table>
</div>
</div>