<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trgovina</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
      table, tr, td {
          border: 1px solid black;
       }
      td {
        height: 30px;
        width: 50px;
        text-align: center;
        vertical-align: middle;
       }
       body {font-family: "Times New Roman", Georgia, Serif;}
        h1, h2, h3, h4, h5, h6 {
          font-family: "Playfair Display";
          letter-spacing: 5px;
        }
    </style> 
  </head>

<body>
    <div class="container">
      <center>
        <section>
          {{!base}}
        </section>
      </center>
    </div>
</body>
</html>