% rebase('osnova.html', naslov='Produkti')
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<style>
  .table-container {
    display: flex;
    align-items: flex-start;
  }

  .table-container table:nth-child(1) {
    flex-shrink: 0;
  }

  .table-container table:nth-child(2) {
    flex-shrink: 1;
  }

  #customers {
 font-family: Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

#customers td, #customers th {
 border: 1px solid #ddd;
 padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #1d79fb;
 color: white;
}
</style>

<table cellpadding="0" cellspacing="0" border="1" id="customers">
  <a button type="button" class="btn btn-outline-primary" href="{{url('zacetna_zaposleni_get')}}" class="myButton" >Nazaj </a>
   <tr>
      <th>Id. produkta</th>
      <th>Prodajna cena produkta</th>
      <th>Nabavna cena produkta</th>
      <th>Ime produkta</th>
      <th></th>
   </tr>
   %for (id_produkt, prodajna_cena, nabavna_cena, ime_produkt) in produkti_nova:
  <tr>
     <td>{{id_produkt}}</td>
     <td>{{prodajna_cena}}</td>
     <td>{{nabavna_cena}}</td>
     <td>{{ime_produkt}}</td>
     <td class="myButton">
      <a button type="button" class="btn btn-outline-secondary" href="{{url('produkti_uredi', id_produkt = id_produkt)}}" method="GET">Uredi</a>
    
    <form action="{{url('produkti_brisi', id_produkt = id_produkt)}}" method="POST">
      <button type="submit" class="btn btn-outline-danger">Izbriši</button>
      </form>
    </td>
   </tr>
   %end
 </table>
 %if True:
 <a button type="button" class="btn btn-outline-primary" href="{{url('produkti_dodaj')}}" class="myButton" >Dodaj produkt</a>