% rebase('osnova.html', naslov='Produkti')

<table cellpadding="0" cellspacing="0" border="1">
   <tr>
      <th>Id. produkta</th>
      <th>Prodajna cena produkta</th>
      <th>Nabavna cena produkta</th>
      <th>Ime produkta</th>
      <th></th>
   </tr>
   %for (id_produkt, prodajna_cena, nabavna_cena, ime_produkt) in produkti:
  <tr>
     <td>{{id_produkt}}</td>
     <td>{{prodajna_cena}}</td>
     <td>{{nabavna_cena}}</td>
     <td>{{ime_produkt}}</td>
     <td class="akcije">
       <form action="{{url('produkti_uredi', id_produkt = id_produkt)}}" method="GET">
        <button type="submit">Uredi</button>
       </form>
       <form action="{{url('produkti_brisi', id_produkt=id_produkt)}}" method="POST">
        <button type="submit">Izbriši</button>
       </form>
     </td>
   </tr>
   %end
 </table>
 %if True:

 <a href="/uredi_produkt" class="myButton" >Dodaj produkt</a>