% setdefault('id_produkt', '')
% setdefault('prodajna_cena', '')
% setdefault('nabavna_cena', '')
% setdefault('ime_produkt', '')
% rebase('osnova.html', naslov=('produkti (urejanje)'))

<style>
    .table-container {
      display: flex;
      align-items: flex-start;
    }
 
    .table-container table:nth-child(1) {
      flex-shrink: 0;
    }
 
    .table-container table:nth-child(2) {
      flex-shrink: 1;
    }
 
    #customers {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 #customers td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 #customers tr:nth-child(even){background-color: #f2f2f2;}
 
 #customers tr:hover {background-color: #ddd;}
 
 #customers th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #04AA6D;
   color: white;
 }
  </style>

<form action="{{url('produkti_uredi_post', id_produkt=id_produkt)}}" method="POST">
    <table cellpadding="0" cellspacing="0" border="1" id="customers">
      <tr>
          <td>
              <span>Id. produkta:</span>
          </td>
          <td>
              <input name="id_produkt" value="{{id_produkt}}" required
               oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Obvezen podatek')" />
          </td>
      </tr>
      <tr>
          <td>
              <span>Prodajna cena produkta:</span>
          </td>
          <td>
              <input name="prodajna_cena" value="{{prodajna_cena}}" required
               oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Obvezen podatek')" />
          </td>
      </tr>
      <tr>
          <td>
              <span>Nabavna cena produkta:</span>
          </td>
          <td>
            <input name="nabavna_cena" value="{{nabavna_cena}}" required
               oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Obvezen podatek')" />
          </td>
      </tr>
      <tr>
          <td>
              <span>Ime produkta:</span>
          </td>
          <td>
            <input name="ime_produkt" value="{{ime_produkt}}" required
               oninput="this.setCustomValidity('')"
               oninvalid="this.setCustomValidity('Obvezen podatek')" />
          </td>
      </tr>

      <tr>
          <td></td>
          <td>
              <input value="{{'Uredi'}}" type="submit" />
          </td>
      </tr>
  </table>
</form>
