%rebase('osnova.html', naslov='Petika')

<!-- <html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body> -->

<!-- Navbar (sit on top) -->
<link rel="stylesheet" href="\static\style.css">
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Začetna stran</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="{{url('prijava_get')}}" class="w3-bar-item w3-button">Prijava</a>
      <a href="{{url('nakupuj_get')}}" class="w3-bar-item w3-button">Nakupuj</a>
      <a href="{{url('prijava_zaposleni_get')}}" class="w3-bar-item w3-button">Stran za zaposlene</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img src={{url('static', filename='psi.jpg')}} class="w3-image" alt="psi" width="1600" height="800">
  <div class="w3-display-topleft w3-padding-large w3-opacity" style="margin-top: 50px;">
    <h1 class="w3-xxlarge custom-font-size" style="color: black;">Trgovina Petika</h1>
    </div>
</header>


<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
    <img src={{url('static', filename='mops.jpg')}} class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Nekaj besed o nas</h1><br>
      <h5 class="w3-center">OPB projekt</h5>
      <p class="w3-large">Smo Petja, Tilen in Urška in smo ustanovili trgovino Petika, kjer lahko nakupujete za svoje najljubše hišne ljubljenčke, ali pa si tu izberete svojega!</p>
    </div>
  </div>
  

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Kontakti</h1><br>
    <p>Naša trgovina se nahaja na naslednjem naslovu:</p>
    <p class="w3-text-blue-grey w3-large"><b>Petika, Jadranska cesta 43, 1000 Ljubljana</b></p>
    <p>Dostopni pa smo tudi na telefonski številki 080 234 145 ali na elektronskem naslovu petika@gmail.com</p>
  </div>
  
<!-- End page content -->
</div>


</body>
</html>

